*{
    margin: 0;
}
body{
    background: #3a512b;
}
h1{
    color: #000000;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 35px;
}
.weather{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 450px;
    border: 1px solid gray;
    background: #788f68;
    border-radius: 25px;
}
h4{
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.weather p{
    padding: 10px 30px;
    font-size: 30px;
    text-align: left;
}
.weather:hover{
    transform: scale(1.1);
}