body{
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.plane img{
    height: 200px;
    width: auto;
}
.plane{
    animation: plane 10s infinite linear;
}
.cloud1 img{
    height: 300px;
    width: auto;
}
.cloud2 img{
    height: 300px;
    width: auto;
}
.cloud2{
    display: flex;
    justify-content: center;
    animation: cloud 10s infinite linear alternate;
}
.cloud1{
    animation: cloud 10s infinite linear alternate;

}
@keyframes plane {
    from{
        transform: translate(0,0);
    }
    10%{
        transform: translate(100px,15px);
    }
    20%{
        transform: translate(200px,-5px);
    }
    30%{
        transform: translate(300px,10px);
    }
    40%{
        transform: translate(400px,0px);
    }
    50%{
        transform: translate(500px,15px);
    }
    60%{
        transform: translate(600px,0px);
    }
    70%{
        transform: translate(700px,20px);
    }
    80%{
        transform: translate(800px,5px);
    }
    90%{
        transform: translate(900px,25px);
    }
    to{
        transform: translate(1000px,0);
    }
}
@keyframes cloud {
    from{
        transform: skew(30deg);
    }
}
