*{
    margin: 0;
    padding: 0;
}
header{
    height: 4vh;
    background: #D9D9D9;
}
main{
    height: 74vh;
}
aside{
    height: 10vh;
    background: #D9D9D9;
}
footer{
    height: 12vh;
    background: #AFA9A9;
}
main{
    display: flex;
}
.main-section{
    width: 60vw;
    height: 74vh;
    background: #A4A4A4;
}
.top-section{
    background: #7F7A7A;
    width: 40vw;
    height: 39vh ;
}
.bottom-section{
    background: #615050;
    height: 35vh;
    width: 40vw;
}

