body{
    margin:3%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEAECA;
    height: 70vh;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30%;
    background-color:#ff0072;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #EEAECA;

}
